In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("./FPA_FOD_20170508.sqlite")

In [4]:
df = pd.read_sql_query("SELECT * from Fires", con)

# Verify that result of SQL query is stored in the dataframe
#print(df.head())

con.close()

In [5]:
df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [14]:
df.to_csv('final_dataframe.csv')

In [6]:
import datetime as dt

In [7]:
pip install julian

Collecting julian
  Downloading https://files.pythonhosted.org/packages/e4/40/3454dc78fea47fb634eb82f28473bab7ca376f4c68cd6e889edf67d10b51/julian-0.14.zip
Building wheels for collected packages: julian
  Building wheel for julian (setup.py) ... done
  Stored in directory: /Users/HustlersParadise/Library/Caches/pip/wheels/ce/b7/8a/aa742c5ae0a627cc1a665f14550988c012f8c38fc15c2f80b9
Successfully built julian
Installing collected packages: julian
Successfully installed julian-0.14
Note: you may need to restart the kernel to use updated packages.

In [8]:
import julian

In [9]:
#df['CONT_DATE']

In [10]:
dt = julian.from_jd(2453403.5)

In [11]:
import numpy as np

In [12]:
import math

In [13]:
df['CONT_DATE'].head()

0    2453403.5
1    2453137.5
2    2453156.5
3    2453189.5
4    2453189.5
Name: CONT_DATE, dtype: float64

In [14]:
df['CONT_DATE'] = df['CONT_DATE'].apply(lambda x: julian.from_jd(x) if np.isnan(x)==False else x)

In [15]:
df['CONT_DATE']= df['CONT_DATE'].apply(lambda x: str(x).split(' ')[0])

In [16]:
df['CONT_DATE'].head()

0    2005-02-02
1    2004-05-12
2    2004-05-31
3    2004-07-03
4    2004-07-03
Name: CONT_DATE, dtype: object

In [17]:
df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [18]:
API_Keys = ['74cb0776a68549e6a1e35942202302', 'cb75f443803149f88a440152202302', '5c44e0e4b67546fd85540157202302' , '8816059be77e4136a7340317202302','61600e44ce0245f29b440504202302', 'd3ff1670c43d4f688d940554202302']

In [19]:
import requests

In [20]:
from wwo_hist import retrieve_hist_data

In [21]:
new_df= pd.DataFrame()

In [22]:
final = []

In [43]:


    
def callapi(api_key,latitude, longitude):
    frequency = 24
    url =f"http://api.worldweatheronline.com/premium/v1/weather.ashx?key={api_key}&q={latitude},{longitude}&num_of_days=1&tp=24&format=json"
    req= requests.get(url)
    #print(req.content)
    
    temp = req.content
#     print(type(temp))
    #temp = temp.transpose()
    #print(type(temp))
    final.append(temp)
    #print(final)

for i in range(1300,1801):
    latitude = df.loc[i,'LATITUDE']
    longitude = df.loc[i,'LONGITUDE']
    #start_time = df.loc[i,'CONT_DATE']
    #end_time= start_time
    callapi('8816059be77e4136a7340317202302',latitude,longitude)

In [47]:
from pandas.io.json import json_normalize 
import json

In [51]:
test_json = pd.read_json(final[0])

In [75]:
temp = test_json.iloc[1,:]
test_json2 = pd.read_json(temp)
test_json2

ValueError: Invalid file path or buffer object type: <class 'pandas.core.series.Series'>

In [163]:
 df.loc[1,'LATITUDE']

38.93305556

In [113]:
for key in API_Keys:
    break

In [80]:
import requests

In [81]:
import json

In [114]:
b = requests.get(a)

In [115]:
b.content

b'{"data":{"request":[{"type":"LatLon","query":"Lat 40.04 and Lon -121.01"}],"current_condition":[{"observation_time":"06:17 AM","temp_C":"12","temp_F":"54","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png"}],"weatherDesc":[{"value":"Clear"}],"windspeedMiles":"0","windspeedKmph":"0","winddirDegree":"0","winddir16Point":"N","precipMM":"0.0","precipInches":"0.0","humidity":"58","visibility":"16","visibilityMiles":"9","pressure":"1017","pressureInches":"31","cloudcover":"0","FeelsLikeC":"12","FeelsLikeF":"54","uvIndex":1}],"weather":[{"date":"2020-02-22","astronomy":[{"sunrise":"06:48 AM","sunset":"05:47 PM","moonrise":"06:41 AM","moonset":"05:00 PM","moon_phase":"New Moon","moon_illumination":"0"}],"maxtempC":"14","maxtempF":"58","mintempC":"0","mintempF":"33","avgtempC":"6","avgtempF":"43","totalSnow_cm":"0.0","sunHour":"8.7","uvIndex":"1","hourly":[{"time":"24","tempC":"14","tempF":"58","windspeedMiles":"3","windspeedKmph":"4","winddirDegree":"27","winddir16Point":"NNE","weatherCode":"116","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0002_sunny_intervals.png"}],"weatherDesc":[{"value":"Partly cloudy"}],"precipMM":"0.0","precipInches":"0.0","humidity":"57","visibility":"10","visibilityMiles":"6","pressure":"1016","pressureInches":"30","cloudcover":"5","HeatIndexC":"7","HeatIndexF":"44","DewPointC":"-3","DewPointF":"26","WindChillC":"5","WindChillF":"42","WindGustMiles":"4","WindGustKmph":"7","FeelsLikeC":"5","FeelsLikeF":"42","chanceofrain":"0","chanceofremdry":"80","chanceofwindy":"0","chanceofovercast":"44","chanceofsunshine":"56","chanceoffrost":"6","chanceofhightemp":"0","chanceoffog":"0","chanceofsnow":"0","chanceofthunder":"0","uvIndex":"1"}]}],"ClimateAverages":[{"month":[{"index":"1","name":"January","avgMinTemp":"-4.0","avgMinTemp_F":"24.8","absMaxTemp":"9.566807","absMaxTemp_F":"49.2","avgDailyRainfall":"3.05"},{"index":"2","name":"February","avgMinTemp":"-3.7","avgMinTemp_F":"25.4","absMaxTemp":"11.012178","absMaxTemp_F":"51.8","avgDailyRainfall":"3.98"},{"index":"3","name":"March","avgMinTemp":"-2.1","avgMinTemp_F":"28.2","absMaxTemp":"12.060795","absMaxTemp_F":"53.7","avgDailyRainfall":"3.04"},{"index":"4","name":"April","avgMinTemp":"-0.1","avgMinTemp_F":"31.9","absMaxTemp":"14.100367","absMaxTemp_F":"57.4","avgDailyRainfall":"1.45"},{"index":"5","name":"May","avgMinTemp":"3.1","avgMinTemp_F":"37.6","absMaxTemp":"19.502064","absMaxTemp_F":"67.1","avgDailyRainfall":"0.97"},{"index":"6","name":"June","avgMinTemp":"6.8","avgMinTemp_F":"44.2","absMaxTemp":"26.834766","absMaxTemp_F":"80.3","avgDailyRainfall":"0.36"},{"index":"7","name":"July","avgMinTemp":"9.3","avgMinTemp_F":"48.8","absMaxTemp":"31.728128","absMaxTemp_F":"89.1","avgDailyRainfall":"0.08"},{"index":"8","name":"August","avgMinTemp":"8.5","avgMinTemp_F":"47.3","absMaxTemp":"31.575548","absMaxTemp_F":"88.8","avgDailyRainfall":"0.13"},{"index":"9","name":"September","avgMinTemp":"6.6","avgMinTemp_F":"43.9","absMaxTemp":"26.216833","absMaxTemp_F":"79.2","avgDailyRainfall":"0.33"},{"index":"10","name":"October","avgMinTemp":"2.5","avgMinTemp_F":"36.5","absMaxTemp":"19.429863","absMaxTemp_F":"67.0","avgDailyRainfall":"0.76"},{"index":"11","name":"November","avgMinTemp":"-1.9","avgMinTemp_F":"28.6","absMaxTemp":"13.836667","absMaxTemp_F":"56.9","avgDailyRainfall":"1.70"},{"index":"12","name":"December","avgMinTemp":"-4.7","avgMinTemp_F":"23.5","absMaxTemp":"8.243452","absMaxTemp_F":"46.8","avgDailyRainfall":"3.31"}]}]}}'

                                                                data
ClimateAverages    [{'month': [{'index': '1', 'name': 'January', ...
current_condition  [{'observation_time': '06:17 AM', 'temp_C': '1...
request            [{'type': 'LatLon', 'query': 'Lat 40.04 and Lo...
weather            [{'date': '2020-02-22', 'astronomy': [{'sunris...

In [166]:
c= pd.read_json(b.content)

In [153]:
c.transpose()

,ClimateAverages,current_condition,request,weather
data,"[{'month': [{'index': '1', 'name': 'January', ...","[{'observation_time': '06:17 AM', 'temp_C': '1...","[{'type': 'LatLon', 'query': 'Lat 40.04 and Lo...","[{'date': '2020-02-22', 'astronomy': [{'sunris..."

In [155]:
e= c['data'][1]

In [157]:
e

[{'observation_time': '06:17 AM',
  'temp_C': '12',
  'temp_F': '54',
  'weatherCode': '113',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'}],
  'weatherDesc': [{'value': 'Clear'}],
  'windspeedMiles': '0',
  'windspeedKmph': '0',
  'winddirDegree': '0',
  'winddir16Point': 'N',
  'precipMM': '0.0',
  'precipInches': '0.0',
  'humidity': '58',
  'visibility': '16',
  'visibilityMiles': '9',
  'pressure': '1017',
  'pressureInches': '31',
  'cloudcover': '0',
  'FeelsLikeC': '12',
  'FeelsLikeF': '54',
  'uvIndex': 1}]

In [147]:
d = pd.DataFrame(c)

In [148]:
d[1]

KeyError: 1

In [79]:
print(a)

http://api.worldweatheronline.com/premium/v1/weather.ashx?key=74cb0776a68549e6a1e35942202302&q=40.03694444,-121.00583333&num_of_days=2&tp=3&format=json